# Editor files
.vscode

# Build artifacts
.build/*
*.o
*.a
*.out

# Test and debug files
sources/debug/*
includes/debug.h
*.test
outfile*
infile*
vgcore*

# Text files
*.txt

# Executables and binaries
minishell

# Logfiles
*.log